
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
env/
venv/

# Data
data/raw/
data/processed/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
